body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#red {
  color:red;
}

#blue {
  color:blue;
}

#green {
  color:green;
}

#largetext {
  font-size:40px;
}

#smalltext {
  font-size:10px ;
}

#centered {
  text-align:center;
}

#boldtext {
  font-weight: bold;
}

#fontfamilyvariation {
  font-family: Arial, Helvetica, sans-serif;
}

#multi {
  font-size:40px;
  color:orange;
  font-weight:bold;
}

.styledFont {
  color:green;
  font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

#styledImage {
  border:10px solid orange;
}